.main-container {position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; box-sizing: border-box;}

/* ********************** */

.main-protection-elements-container {width: 60%; margin: 50px auto;}

/* ********************** */

.protection-elements-section {width: 60%; margin: 0 auto; text-align: center;}
.protection-elements-title {font-size: 20px; color: #ECBF43; font-family: Helvetica; font-weight: bold; text-transform: uppercase; margin: 0 0 20px; text-align: center;}
.protection-options-container {display: flex; flex-direction: row; justify-content: space-between;}


.main-checkbox-container {display: flex; flex-direction: row; }

.radio-elements {display: none;}
div.checkbox-container {position: relative; display: block;}
div.checkbox-container input{appearance: none; outline: none; position: absolute; right: 0; -webkit-appearance: none; -moz-appearance: none; visibility: hidden;}
div.checkbox-container input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: -30px; top: -3px; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}
div.checkbox-container input[type=checkbox]:checked + i {border: 1px solid #ECBF43;background: #ECBF43; background-image: url(../../../assets/icons/check-yellow-icon.svg); background-position: center; height: 20px; width: 20px; background-size: 80%; background-repeat: no-repeat; z-index: 5;}
.s-element {color: #2E2E2E; font-family: Helvetica; font-size: 15px; font-weight: 400;/*  margin-left: 10px; */}

/* ********************** */
/* .options-risk-container input[type=text] {width: 20px; height: 20px; border: 1px solid #ECC149; box-shadow: 0px 2px 2px #00000029; border-radius: 50%; color: #ECC149; cursor: pointer;} */
.options-risk-main-container {margin: 40px auto 0;}
.options-risk-container {width: 70%; margin: 0 auto; padding: 0 140px; display: grid; grid-template-columns: 10% 90%; grid-template-rows: repeat(5, 30px);}
.m-top {margin-top: 15px;}


.s-checkbox {display: none;}
div.checkbox-container-synthoms {position: relative; display: block;}
div.checkbox-container-synthoms input{appearance: none; outline: none; position: absolute; right: 0; -webkit-appearance: none; -moz-appearance: none; visibility: hidden;}
div.checkbox-container-synthoms input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: 20px; top: 5px; right: 0; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}
div.checkbox-container-synthoms input[type=checkbox]:checked + i {border: 1px solid #ECBF43;background: #ECBF43; background-image: url(../../../assets/icons/check-yellow-icon.svg); background-position: center; height: 20px; width: 20px; background-size: 80%; background-repeat: no-repeat; z-index: 5;}
.s-sintoma {color: #2E2E2E; font-family: Helvetica; font-size: 15px; font-weight: 400; display: flex; align-items: center;}



/* ********************** */

.main-protection-elements-container form > button {width: 140px; cursor: pointer; border: none;  min-width: 121px; height: 30px; display: block; margin: 50px auto 0;box-shadow: 0px 3px 6px #00000029; background-color: #ECBF43; border-radius: 31px; color: #2E2E2E; display: flex; justify-content: center; align-items: center; text-transform: uppercase; font-family: Helvetica; font-size: 15px; font-weight: 500;}

.ovalos-protection-elements {position: absolute; z-index: 5; right: 0px; bottom: 0; width: 30%; height: 30%; min-width: 600px; min-height: 300px;}

.footer-protection {position: absolute; bottom: 0;} 

/* .footer2 {position: absolute; bottom: 10;} */

@media only screen and (max-width:1200px)
    {
        .main-protection-elements-container {width: 100%; margin: 40px auto;}
        .protection-elements-section {width: 100%; margin: 0 auto;}
        .protection-elements-title {font-size: 16px; margin: 0 0 10px; text-align: center;}
        .protection-options-container {display: flex; flex-direction: row; justify-content: space-around; text-align: center; width: 40%; margin: 0 auto;}
        .s-element {font-size: 14px; vertical-align: middle;}
        .m-right {margin-right: 20px;}
        
        .options-risk-main-container {margin: 50px auto 0; position: relative; z-index: 10; align-items: center;}
        .options-risk-container {width: 55%; margin: 20px auto; padding: 0; grid-template-columns: 10% 90%; align-items: center; justify-content: center;}
        .s-checkbox {text-align: center; margin: 0 auto;}
        .m-top {margin-top: 20px;}

        div.checkbox-container-synthoms input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: 20px; top: -8px; right: 0; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}

        .main-protection-elements-container form > button {position: relative; z-index: 10;}

        /* footer */
        /* .footer-protection { display: none;} */
        
        /* ovalos */
        .ovalos {right: 0; bottom: 50; width: 10%; height: 30%; min-width: 100px; min-height: 100px; z-index: 0;}
        
    }

@media only screen and (max-width:1024px)
    {
        .main-protection-elements-container {width: 100%; margin: 40px auto;}
        .protection-elements-section {width: 100%; margin: 0 auto;}
        .protection-elements-title {font-size: 16px; margin: 0 0 10px; text-align: center;}
        .protection-options-container {display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto; width: 48%;}
        .s-element {font-size: 14px; vertical-align: middle;}
        .m-right {margin-right: 20px;}
        
        .options-risk-main-container {margin: 40px auto 0; position: relative; z-index: 10; align-items: center;}
        .options-risk-container {width: 60%; margin: 20px auto; padding: 0; grid-row-gap: 15px;}
        .m-top {margin-top: 20px;}
        .m-top-mobile {margin-top: 15px;}

        .main-protection-elements-container form > button {position: relative; z-index: 10;}

        /* footer */
        .footer-protection { display: none;}
        
        /* ovalos */
        .ovalos {right: 0; bottom: 50; width: 10%; height: 30%; min-width: 100px; min-height: 100px; z-index: 0;}
        
    }

@media only screen and (max-width:768px)
    {
        .main-protection-elements-container {width: 100%; margin: 40px auto;}
        .protection-elements-section {width: 100%; margin: 0 auto;}
        .protection-elements-title {font-size: 16px; margin: 0 0 10px; text-align: center;}
        .protection-options-container {display: flex; flex-direction: column; justify-content: center; text-align: center; width: 60%; margin: 0 auto;}
        .s-element {font-size: 14px; vertical-align: middle;}
        .m-right {margin-right: 20px;}
        
        .options-risk-main-container {margin: 30px auto 0; position: relative; z-index: 10; align-items: center;}
        .options-risk-container {width: 80%; margin: 20px auto; padding: 0;}
        .m-top {margin-top: 20px;}

        .main-protection-elements-container form > button {position: relative; z-index: 10;}

        /* footer */
        .footer-protection { display: none;}
        
        /* ovalos */
        .ovalos {right: 0; bottom: 50; width: 10%; height: 30%; min-width: 100px; min-height: 100px; z-index: 0;}
        
    }


@media only screen and (max-width:600px)
    {
        .main-protection-elements-container {width: 90%; margin: 20px auto;}
        .protection-elements-section {width: 100%; margin: 0 auto;}
        .protection-elements-title {font-size: 12px; margin: 0 0 10px; text-align: left;}
        .protection-options-container {display: flex; flex-direction: column; justify-content: flex-start; text-align: left; width: 80%; margin: 0 auto;}
        
        .options-risk-main-container {margin: 30px auto 0; position: relative; z-index: 10;}
        .options-risk-container {width: 100%; margin: 0 auto; padding: 0; grid-row-gap: 15px;}
        .s-element {font-size: 12px; margin-right: 0px; display: flex; align-items: center;}
        .m-top {margin-top: 0px;}
        .r-top {margin-top: 10px;}
        div.checkbox-container-synthoms input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: 0px; top: -13px; right: 0; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}


        .main-protection-elements-container form > button {position: relative; z-index: 10;}

        /* footer */
        .footer-protection { display: none;}
        
        /* ovalos */
        .ovalos {right: 0; bottom: 50; width: 10%; height: 30%; min-width: 100px; min-height: 100px; z-index: 0;}
    }




