.iatech-container-registered {display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin: 0 0 0 30px;}
.desing-letter-registered {text-align: right; font-family: Helvetica; font-weight: 400; font-size: 15px; color: #2E2E2E;}
.img-iatech-registered {height: 25px; max-width: 115px; margin-left: 5px;}

 